.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;

  background: rgba(255, 255, 255, 0.9);
  color: #111;
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
@media (max-width: 640px) {
  .container {
    padding: 16px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttonAuto {
  margin-left: auto;
}

.buttonBack {
  margin-right: auto;
}